@charset "UTF-8";
.announcement {
  color: #495584;
  border-color: #495584;
}
.announcement .icon::before {
  content: "";
  color: #495584;
  font-family: "Material Icons";
}
.announcement.background-color {
  background-color: #495584;
}
.announcement.background-gradient {
  background: linear-gradient(to bottom, #495584 0%, #6f8a72 100%);
}

.award {
  color: #9dad50;
  border-color: #9dad50;
}
.award .icon::before {
  content: "";
  color: #9dad50;
  font-family: "Material Icons";
}
.award.background-color {
  background-color: #9dad50;
}
.award.background-gradient {
  background: linear-gradient(to bottom, #9dad50 0%, #6f8a72 100%);
}

.dataset {
  color: #ab92a3;
  border-color: #ab92a3;
}
.dataset .icon::before {
  content: "";
  color: #ab92a3;
  font-family: "Material Icons";
}
.dataset.background-color {
  background-color: #ab92a3;
}
.dataset.background-gradient {
  background: linear-gradient(to bottom, #ab92a3 0%, #6f8a72 100%);
}

.education-and-outreach {
  color: #9676a0;
  border-color: #9676a0;
}
.education-and-outreach .icon::before {
  content: "";
  color: #9676a0;
  font-family: "Material Icons";
}
.education-and-outreach.background-color {
  background-color: #9676a0;
}
.education-and-outreach.background-gradient {
  background: linear-gradient(to bottom, #9676a0 0%, #6f8a72 100%);
}

.employment {
  color: #a0896f;
  border-color: #a0896f;
}
.employment .icon::before {
  content: "";
  color: #a0896f;
  font-family: "Material Icons";
}
.employment.background-color {
  background-color: #a0896f;
}
.employment.background-gradient {
  background: linear-gradient(to bottom, #a0896f 0%, #6f8a72 100%);
}

.meetings-and-activities {
  color: #6a9061;
  border-color: #6a9061;
}
.meetings-and-activities .icon::before {
  content: "";
  color: #6a9061;
  font-family: "Material Icons";
}
.meetings-and-activities.background-color {
  background-color: #6a9061;
}
.meetings-and-activities.background-gradient {
  background: linear-gradient(to bottom, #6a9061 0%, #6f8a72 100%);
}

.newsletter {
  color: #7bad7b;
  border-color: #7bad7b;
}
.newsletter .icon::before {
  content: "";
  color: #7bad7b;
  font-family: "Material Icons";
}
.newsletter.background-color {
  background-color: #7bad7b;
}
.newsletter.background-gradient {
  background: linear-gradient(to bottom, #7bad7b 0%, #6f8a72 100%);
}

.page-type {
  color: #c5c5c5;
  border-color: #c5c5c5;
}
.page-type .icon::before {
  content: "";
  color: #c5c5c5;
  font-family: "Material Icons";
}
.page-type.background-color {
  background-color: #c5c5c5;
}
.page-type.background-gradient {
  background: linear-gradient(to bottom, #c5c5c5 0%, #6f8a72 100%);
}

.person {
  color: #9976ab;
  border-color: #9976ab;
}
.person .icon::before {
  content: "";
  color: #9976ab;
  font-family: "Material Icons";
}
.person.background-color {
  background-color: #9976ab;
}
.person.background-gradient {
  background: linear-gradient(to bottom, #9976ab 0%, #6f8a72 100%);
}

.press {
  color: #7677a7;
  border-color: #7677a7;
}
.press .icon::before {
  content: "";
  color: #7677a7;
  font-family: "Material Icons";
}
.press.background-color {
  background-color: #7677a7;
}
.press.background-gradient {
  background: linear-gradient(to bottom, #7677a7 0%, #6f8a72 100%);
}

.data_project {
  color: #ab92a3;
  border-color: #ab92a3;
}
.data_project .icon::before {
  content: "";
  color: #ab92a3;
  font-family: "Material Icons";
}
.data_project.background-color {
  background-color: #ab92a3;
}
.data_project.background-gradient {
  background: linear-gradient(to bottom, #ab92a3 0%, #6f8a72 100%);
}

.proposal-call {
  color: #949249;
  border-color: #949249;
}
.proposal-call .icon::before {
  content: "";
  color: #949249;
  font-family: "Material Icons";
}
.proposal-call.background-color {
  background-color: #949249;
}
.proposal-call.background-gradient {
  background: linear-gradient(to bottom, #949249 0%, #6f8a72 100%);
}

.protocol {
  color: #b1b6b4;
  border-color: #b1b6b4;
}
.protocol .icon::before {
  content: "";
  color: #b1b6b4;
  font-family: "Material Icons";
}
.protocol.background-color {
  background-color: #b1b6b4;
}
.protocol.background-gradient {
  background: linear-gradient(to bottom, #b1b6b4 0%, #6f8a72 100%);
}

.publication {
  color: #988e7c;
  border-color: #988e7c;
}
.publication .icon::before {
  content: "";
  color: #988e7c;
  font-family: "Material Icons";
}
.publication.background-color {
  background-color: #988e7c;
}
.publication.background-gradient {
  background: linear-gradient(to bottom, #988e7c 0%, #6f8a72 100%);
}

.spotlight {
  color: #adb179;
  border-color: #adb179;
}
.spotlight .icon::before {
  content: "";
  color: #adb179;
  font-family: "Material Icons";
}
.spotlight.background-color {
  background-color: #adb179;
}
.spotlight.background-gradient {
  background: linear-gradient(to bottom, #adb179 0%, #6f8a72 100%);
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

body {
  background-color: white !important;
}

.blocker {
  z-index: 30002;
  padding: 1rem !important;
  opacity: 0;
  background-color: rgba(241, 241, 241, 0.87);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1080px) {
  .blocker {
    padding: 0 !important;
  }
}
.blocker.ready {
  opacity: 1;
}

.modal {
  height: auto;
  width: calc(100vw - 6rem);
  max-width: 55rem;
  margin-bottom: 1rem;
  padding: 0 !important;
  border-radius: 1rem;
  box-shadow: 0 0 50px 25px #eaeaea;
  overflow-y: auto;
}
@media (max-width: 1080px) {
  .modal {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.modal .modal-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1080px) {
  .modal .modal-container {
    height: 100%;
  }
}
.modal .modal-container .item-header {
  padding-top: 2rem;
  border-radius: 1rem 1rem 0 0;
}
@media (max-width: 970px) {
  .modal .modal-container .item-header {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1080px) {
  .modal .modal-container .item-header {
    border-radius: 0;
  }
}
.modal .modal-container .item-header > .container {
  padding-left: 4rem;
  padding-right: 4rem;
}
@media (max-width: 750px) {
  .modal .modal-container .item-header > .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 450px) {
  .modal .modal-container .item-header > .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.modal .modal-container .item-body {
  height: auto;
  padding-bottom: 2rem;
  border-radius: 0 0 1rem 1rem;
  background-color: #fefefe;
}
@media (max-width: 1080px) {
  .modal .modal-container .item-body {
    height: 100%;
    border-radius: 0;
  }
}
.modal a.close-modal[class*=icon-] {
  position: fixed;
  display: flex;
  width: 5rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0);
  line-height: 1;
  text-indent: 0;
  color: #7d7d7d;
}
.modal a.close-modal[class*=icon-]:hover {
  color: #7d7d7d !important;
  text-decoration: none;
}
.modal a.close-modal[class*=icon-] .x {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.41);
  line-height: 5rem;
  font-size: 4rem;
  font-family: "Open Sans";
  font-weight: 600;
}
@media (max-width: 50rem) {
  .modal a.close-modal[class*=icon-] {
    right: 1.25rem;
    top: 0.25rem;
  }
}
.modal .arrow {
  position: fixed;
  cursor: pointer;
}
.modal .arrow::before {
  background-color: rgba(255, 255, 255, 0.41);
  border-radius: 2.5rem;
  font-family: "Material Icons";
  font-size: 5rem;
  color: #7d7d7d;
}
.modal .arrow.previous {
  left: 0;
}
.modal .arrow.previous::before {
  content: "";
}
.modal .arrow.next {
  right: 0;
}
.modal .arrow.next::before {
  content: "";
}

/*# sourceMappingURL=modal.css.map */
