@charset "UTF-8";
.announcement {
  color: #495584;
  border-color: #495584;
}
.announcement .icon::before {
  content: "";
  color: #495584;
  font-family: "Material Icons";
}
.announcement.background-color {
  background-color: #495584;
}
.announcement.background-gradient {
  background: linear-gradient(to bottom, #495584 0%, #6f8a72 100%);
}

.award {
  color: #9dad50;
  border-color: #9dad50;
}
.award .icon::before {
  content: "";
  color: #9dad50;
  font-family: "Material Icons";
}
.award.background-color {
  background-color: #9dad50;
}
.award.background-gradient {
  background: linear-gradient(to bottom, #9dad50 0%, #6f8a72 100%);
}

.dataset {
  color: #ab92a3;
  border-color: #ab92a3;
}
.dataset .icon::before {
  content: "";
  color: #ab92a3;
  font-family: "Material Icons";
}
.dataset.background-color {
  background-color: #ab92a3;
}
.dataset.background-gradient {
  background: linear-gradient(to bottom, #ab92a3 0%, #6f8a72 100%);
}

.education-and-outreach {
  color: #9676a0;
  border-color: #9676a0;
}
.education-and-outreach .icon::before {
  content: "";
  color: #9676a0;
  font-family: "Material Icons";
}
.education-and-outreach.background-color {
  background-color: #9676a0;
}
.education-and-outreach.background-gradient {
  background: linear-gradient(to bottom, #9676a0 0%, #6f8a72 100%);
}

.employment {
  color: #a0896f;
  border-color: #a0896f;
}
.employment .icon::before {
  content: "";
  color: #a0896f;
  font-family: "Material Icons";
}
.employment.background-color {
  background-color: #a0896f;
}
.employment.background-gradient {
  background: linear-gradient(to bottom, #a0896f 0%, #6f8a72 100%);
}

.meetings-and-activities {
  color: #6a9061;
  border-color: #6a9061;
}
.meetings-and-activities .icon::before {
  content: "";
  color: #6a9061;
  font-family: "Material Icons";
}
.meetings-and-activities.background-color {
  background-color: #6a9061;
}
.meetings-and-activities.background-gradient {
  background: linear-gradient(to bottom, #6a9061 0%, #6f8a72 100%);
}

.newsletter {
  color: #7bad7b;
  border-color: #7bad7b;
}
.newsletter .icon::before {
  content: "";
  color: #7bad7b;
  font-family: "Material Icons";
}
.newsletter.background-color {
  background-color: #7bad7b;
}
.newsletter.background-gradient {
  background: linear-gradient(to bottom, #7bad7b 0%, #6f8a72 100%);
}

.page-type {
  color: #c5c5c5;
  border-color: #c5c5c5;
}
.page-type .icon::before {
  content: "";
  color: #c5c5c5;
  font-family: "Material Icons";
}
.page-type.background-color {
  background-color: #c5c5c5;
}
.page-type.background-gradient {
  background: linear-gradient(to bottom, #c5c5c5 0%, #6f8a72 100%);
}

.person {
  color: #9976ab;
  border-color: #9976ab;
}
.person .icon::before {
  content: "";
  color: #9976ab;
  font-family: "Material Icons";
}
.person.background-color {
  background-color: #9976ab;
}
.person.background-gradient {
  background: linear-gradient(to bottom, #9976ab 0%, #6f8a72 100%);
}

.press {
  color: #7677a7;
  border-color: #7677a7;
}
.press .icon::before {
  content: "";
  color: #7677a7;
  font-family: "Material Icons";
}
.press.background-color {
  background-color: #7677a7;
}
.press.background-gradient {
  background: linear-gradient(to bottom, #7677a7 0%, #6f8a72 100%);
}

.data_project {
  color: #ab92a3;
  border-color: #ab92a3;
}
.data_project .icon::before {
  content: "";
  color: #ab92a3;
  font-family: "Material Icons";
}
.data_project.background-color {
  background-color: #ab92a3;
}
.data_project.background-gradient {
  background: linear-gradient(to bottom, #ab92a3 0%, #6f8a72 100%);
}

.proposal-call {
  color: #949249;
  border-color: #949249;
}
.proposal-call .icon::before {
  content: "";
  color: #949249;
  font-family: "Material Icons";
}
.proposal-call.background-color {
  background-color: #949249;
}
.proposal-call.background-gradient {
  background: linear-gradient(to bottom, #949249 0%, #6f8a72 100%);
}

.protocol {
  color: #b1b6b4;
  border-color: #b1b6b4;
}
.protocol .icon::before {
  content: "";
  color: #b1b6b4;
  font-family: "Material Icons";
}
.protocol.background-color {
  background-color: #b1b6b4;
}
.protocol.background-gradient {
  background: linear-gradient(to bottom, #b1b6b4 0%, #6f8a72 100%);
}

.publication {
  color: #988e7c;
  border-color: #988e7c;
}
.publication .icon::before {
  content: "";
  color: #988e7c;
  font-family: "Material Icons";
}
.publication.background-color {
  background-color: #988e7c;
}
.publication.background-gradient {
  background: linear-gradient(to bottom, #988e7c 0%, #6f8a72 100%);
}

.spotlight {
  color: #adb179;
  border-color: #adb179;
}
.spotlight .icon::before {
  content: "";
  color: #adb179;
  font-family: "Material Icons";
}
.spotlight.background-color {
  background-color: #adb179;
}
.spotlight.background-gradient {
  background: linear-gradient(to bottom, #adb179 0%, #6f8a72 100%);
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

body {
  background-color: white !important;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 27px;
  z-index: 5000;
  position: absolute;
  display: block;
  height: 5rem;
  width: 5rem;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.35;
}
.slick-prev:before,
.slick-next:before {
  font-family: "Material Icons";
  font-size: 5rem;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -0.5rem;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 0;
}
.slick-prev:before {
  content: "";
}
[dir=rtl] .slick-prev:before {
  content: "";
}

.slick-next {
  right: -0.5rem;
}
[dir=rtl] .slick-next {
  left: 0;
  right: auto;
}
.slick-next:before {
  content: "";
}
[dir=rtl] .slick-next:before {
  content: "";
}

/* Dots */
.slick-dots {
  z-index: 5000;
  position: absolute;
  bottom: 0;
  list-style: none;
  display: block;
  left: calc(5rem - 7px);
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  margin-bottom: 1rem !important;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  overflow: visible;
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 3rem;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

@media (max-width: 970px) {
  .slick-prev, .slick-next {
    top: calc(12.5rem - 54px);
  }

  .background {
    min-height: 20rem;
  }
  .background .inset {
    padding-top: 1rem;
  }
}
section.home-slider .vc_col-sm-12 {
  padding: 0 !important;
}
section.home-slider .vc_col-sm-12 .vc_column-inner {
  padding: 0 !important;
  min-height: 25rem;
  background: linear-gradient(to bottom, #4b6171 0%, #162318 100%);
}
section.home-slider .vc_col-sm-12 .vc_column-inner .loader {
  z-index: 500;
  position: absolute;
  top: calc(50% - 108px);
  left: calc(50% - 120px);
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider {
  max-height: 25rem;
  opacity: 1;
  transition: opacity 300ms ease;
}
@media (max-width: 970px) {
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider {
    max-height: inherit;
  }
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider:not(.slick-initialized) {
  max-height: 25rem;
  height: 25rem;
  opacity: 0;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider button, section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider button:active, section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider button:hover, section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider button:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide {
  height: 100%;
  min-height: 25rem;
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-family: "Open Sans";
}
@media (max-width: 970px) {
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide {
    flex-direction: column-reverse;
  }
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .description {
  width: calc(33% + 5rem);
  padding: 1rem 2rem 3rem 5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
}
@media (max-width: 970px) {
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .description {
    width: 100% !important;
    padding-bottom: 4rem !important;
    padding-left: 2rem;
    border-right-width: 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .description .title {
  font-size: 2.074rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  line-height: 1.2;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .description .link {
  margin-top: 1.75rem;
  text-align: center;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .description .link a {
  width: 100%;
  padding: 0.5rem;
  display: inline-block;
  background-color: #6b9065;
  color: white;
  text-transform: uppercase;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .description .link a:hover {
  background-color: #7fab79;
  color: white !important;
  text-decoration: none !important;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.deep-life .description {
  background-image: url("img/606.svg"), -webkit-radial-gradient(circle, #3c3528 50%, #1d1d1d 100%);
  background-image: url("img/606.svg"), radial-gradient(circle, #3c3528 50%, #1d1d1d 100%);
  background-size: 10rem 10rem, cover;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.novel-organisms .description {
  background-image: url("img/605.svg"), -webkit-radial-gradient(circle, #1f403a 50%, #1d1d1d 100%);
  background-image: url("img/605.svg"), radial-gradient(circle, #1f403a 50%, #1d1d1d 100%);
  background-size: 7rem 7rem, cover;
}
@media (min-width: 694px) {
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.novel-organisms .inset-images .container {
    width: 100%;
    display: flex !important;
    justify-content: center;
  }
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.novel-organisms .inset-images .container .inset-image {
  border: 4px solid white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
@media (min-width: 694px) {
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.novel-organisms .inset-images .container .inset-image {
    max-height: 13rem;
  }
}
@media (max-width: 694px) {
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.novel-organisms .inset-images .container .separator {
    width: 2vw !important;
  }
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.slow-growing .description {
  background-image: url("img/607.svg"), -webkit-radial-gradient(circle, #331f13 50%, #1d1d1d 100%);
  background-image: url("img/607.svg"), radial-gradient(circle, #331f13 50%, #1d1d1d 100%);
  background-size: 10rem 10rem, cover;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.global-implications .description {
  background-image: url("img/327-k.svg"), -webkit-radial-gradient(circle, #302c50 50%, #1d1d1d 100%);
  background-image: url("img/327-k.svg"), radial-gradient(circle, #302c50 50%, #1d1d1d 100%);
  background-size: 2rem 2rem, cover;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.global-implications .inset-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.global-implications .inset-images .inset-image {
  max-height: 17rem !important;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.global-implications .inset-images .inset-caption {
  margin-top: 1rem;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.science-and-technology .description {
  background-image: url("img/717.svg"), -webkit-radial-gradient(circle, #00455a 50%, #1d1d1d 100%);
  background-image: url("img/717.svg"), radial-gradient(circle, #00455a 50%, #1d1d1d 100%);
  background-size: 10rem 10rem, cover;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.science-and-technology .background .inset-image {
  height: 13rem;
  border: 4px solid white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  max-height: 13rem;
}
@media (min-width: 500px) {
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.science-and-technology .background {
    align-items: flex-end;
  }
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.science-and-technology .background .inset {
    width: 100%;
    max-width: 100%;
    margin: auto 5rem;
    align-items: flex-end;
  }
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.science-and-technology .background .inset .inset-caption {
    width: 305px;
  }
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide.training-and-outreach .description {
  background-image: url("img/723.svg"), -webkit-radial-gradient(circle, #33425d 50%, #1d1d1d 100%);
  background-image: url("img/723.svg"), radial-gradient(circle, #33425d 50%, #1d1d1d 100%);
  background-size: 15rem 15rem, cover;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background {
  position: relative;
  max-height: 25rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 970px) {
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background {
    max-height: inherit;
  }
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .inset {
  max-width: 35rem;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .inset .inset-images {
  max-width: calc(100vw - 10rem);
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .inset .inset-images .container {
  display: table-row;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .inset .inset-images .container .inset-image, section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .inset .inset-images .container .separator {
  display: table-cell;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .inset .inset-images .container .inset-image {
  width: auto;
  height: auto;
  display: block;
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .inset .inset-images .container .separator {
  width: calc(1rem + 8px);
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .inset .inset-images .inset-caption {
  margin-top: 0.5rem;
  padding: 0.5rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.51);
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .background-caption {
  max-width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.51) 25%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.51) 25%);
}
@media (max-width: 660px) {
  section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .background-caption {
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.51);
  }
}
section.home-slider .vc_col-sm-12 .vc_column-inner .cdebi-slider .item.slick-slide .background .background-spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=slider.css.map */
