.w-image {
  margin-bottom: 0 !important;
}

/*.l-section.content {
  .one-third {
    img.alignleft {
      margin: 0 !important;
    }
    .w-image {
      margin-bottom: 0;
    }
    .wpb_wrapper {
      p, span.caption {
        line-height: 1rem !important;
        font-weight: 200 !important;
        font-size: .8rem !important;
        letter-spacing: .05px;
        position: relative;
        top: 7px !important;
        max-width: 90%;
      }
    }
    span.caption {
      float: left;
      clear: both;
      display: block;
    }
    .wpb_text_column + .w-gallery,
    .wpb_text_column + .w-image {
      margin-top: 30px;
    }
  }
}*/

/*.wp-caption {
  .wp-caption-text {
    line-height: 1rem !important;
    font-weight: 200 !important;
    letter-spacing: .05px;
    position: relative;
    top: 7px !important;
    max-width: 90%;
    font-size: 0.833rem;
    text-align: center;
    font-family: "Khula";
    padding-top: 0.25rem;
  }
  margin: 0 auto !important;
}
p.img {
  text-align: center;
}*/

/*VIMEO PLAYER*/
/*.player-1454537063612 .title a, #player .title a {
  color: white !important;
}*/