@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Khula:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700);
@import "categories";
@import "footer";
@import "post";
@import "item";
@import "tables";
@import "titlebar";
@import "toolbar";
@import "typography";
@import "../../Routes/Search/index.scss";

html {
  margin-right: 0 !important;
}

body {
  background-color: white !important;
}

.error404 {
  .l-main {
    padding-top: 64px;
  }
}

.l-main {
  .w-image {
    margin-bottom: 0 !important;
    .us-frame {
      text-align: center;
    }
  }
  .caption {
    margin-top: 0.5rem;
  }
}